
<div class="sectionBox trendOptions">
    <div class="chartContent">
       <div ng-click="reportTypeChange('vendor')" id="vendor">
           <h4 class="selected">Vendor</h4>
       </div>
       <div ng-click="reportTypeChange('price_breakdown')" id="pricePerMile" >
           <h4>Price Per Mile</h4>
       </div>
       <div ng-click="reportTypeChange('days_prior')" id="days">
           <h4>Departure Dates</h4>
       </div>
<!--        <div ng-click="reportTypeChange('days_prior')" id="days" >
           <h4>Booking in Advance</h4>
       </div> -->
       <div ng-click="reportTypeChange('hotspots')" id="hotspots" >
           <h4>Location Hotspots</h4>
       </div>
    </div>
  </div>
