
<div class="sectionBox trendOptions">
    <div class="chartContent">
       <div ng-click="updateChartOnly('vendor')" id="vendor" >
           <h1>Vendor</h1>
       </div>
       <div ng-click="updateChartOnly('price_breakdown')" id="pricePerMile" >
           <h1>Price Per Mile</h1>
       </div>
       <div ng-click="updateChartOnly('hotspots')" id="hotspots" >
           <h1>Hotspots</h1>
       </div>
       <div ng-click="updateChartOnly('days_prior')" id="days" >
           <h1>Days Booked Prior to Travel</h1>
       </div>
    </div>
  </div>
