<div class="sectionBox trendOptions">
    <div class="franchise">
        <h4>Vendor<span class="glyphicon glyphicon-chevron-down"></span></h4>
    </div>
    <div class="pricePerMile">
        <h4>Price Breakdown<span class="glyphicon glyphicon-chevron-down"></span></h4>
    </div>
    <div class="hotspots">
        <h4>Hotspots<span class="glyphicon glyphicon-chevron-down"></span></h4>
    </div>
    <div class="days">
        <h4>Booking in Advance<span class="glyphicon glyphicon-chevron-down"></span></h4>
    </div>
</div>
