<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1.1", {packages:["calendar"]});
      google.setOnLoadCallback(drawChart);

   function drawChart() {
       var dataTable = new google.visualization.DataTable();
       dataTable.addColumn({ type: 'date', id: 'Date' });
       dataTable.addColumn({ type: 'number', id: 'Won/Loss' });
       dataTable.addRows([
[new Date(2010,10,01), 11],
[new Date(2010,10,02), 4],
[new Date(2010,10,03), 22],
[new Date(2010,10,04), 55],
[new Date(2010,10,05), 26],
[new Date(2010,10,06), 31],
[new Date(2010,10,07), 18],
[new Date(2010,10,08), 9],
[new Date(2010,10,09), 1],
[new Date(2010,10,10), 5],
[new Date(2010,10,11), 6],
[new Date(2010,10,12), 55],
[new Date(2010,10,13), 5],
[new Date(2010,10,14), 6],
[new Date(2010,10,15), 3],
[new Date(2010,10,16), 1],
[new Date(2010,10,17), 48],
[new Date(2010,10,18), 52],
[new Date(2010,10,19), 19],
[new Date(2010,10,20), 8],
[new Date(2010,10,21), 4],
[new Date(2010,10,22), 6],
[new Date(2010,10,23), 6],
[new Date(2010,10,24), 14],
[new Date(2010,10,25), 44],
[new Date(2010,10,26), 31],
[new Date(2010,10,27), 18],
[new Date(2010,10,28), 7],
[new Date(2010,10,29), 5],
[new Date(2010,10,31), 5],
[new Date(2010,11,01), 27],
[new Date(2010,11,02), 8],
[new Date(2010,11,03), 6],
[new Date(2010,11,04), 5],
[new Date(2010,11,07), 1],
[new Date(2010,11,08), 8],
[new Date(2010,11,09), 1],
[new Date(2010,11,10), 2],
[new Date(2010,11,11), 3],
[new Date(2010,11,13), 1],
[new Date(2010,11,14), 12],
[new Date(2010,11,15), 14],
[new Date(2010,11,16), 9],
[new Date(2010,11,17), 3],
[new Date(2010,11,18), 1],
[new Date(2010,11,19), 2],
[new Date(2010,11,23), 1],
[new Date(2010,11,28), 4],
[new Date(2010,11,29), 1],
[new Date(2010,11,30), 3],
[new Date(2010,12,02), 1],
[new Date(2010,12,04), 1],
[new Date(2010,12,05), 2],
[new Date(2010,12,06), 2],
[new Date(2010,12,13), 2],
[new Date(2011,01,18), 1]
]
        );

       var chart = new google.visualization.Calendar(document.getElementById('calendar_basic'));

       var options = {
         title: "Most Common Flight Departure Dates",
         height: 350,
       };

       chart.draw(dataTable, options);
   }
    </script>
  </head>
  <body>
    <div id="calendar_basic" style="width: 1000px; height: 350px;"></div>
  </body>
</html>
