<h1 style="margin-bottom:30px;">Department Overview</h1>


<table id="department_overview" >
  <thead>
      <tr>
        <th>Department</th>
        <th>Total $</th>
        <th>$/Employee</th>
        <th>% Above</th>
        <th>% Below</th>
        <th>Days Booked</th>
      </tr>
  </thead>
<tbody>
        <tr><td>GSA</td><td>$34M</td><td>$9K</td><td>30%</td><td>5%</td><td>34</td></tr>
      <tr><td>NIH</td><td>$32M</td><td>$3K</td><td>22%</td><td>3%</td><td>14</td></tr>
      <tr><td>IRS</td><td>$28M</td><td>$8K</td><td>25%</td><td>6%</td><td>28</td></tr>
      <tr><td>EPA</td><td>$45M</td><td>$2K</td><td>35%</td><td>12%</td><td>40</td></tr>
      <tr><td>FEMA</td><td>$20M</td><td>$4K</td><td>5%</td><td>20%</td><td>36</td></tr>
      <tr><td>DoJ</td><td>$15M</td><td>$1K</td><td>14%</td><td>1%</td><td>34</td></tr>
      <tr><td>FBI</td><td>$61M</td><td>$5K</td><td>17%</td><td>0%</td><td>39</td></tr>
      <tr><td>CIA</td><td>$47M</td><td>$6K</td><td>35%</td><td>0%</td><td>55</td></tr>
      <tr><td>DE</td><td>$23M</td><td>$2K</td><td>2%</td><td>2%</td><td>5</td></tr>
      <tr><td>DHS</td><td>$33M</td><td>$2K</td><td>0%</td><td>3%</td><td>16</td></tr>
      <tr><td>USDA</td><td>$29M</td><td>$3K</td><td>28%</td><td>5%</td><td>39</td></tr>
</tbody>
</table>




