<h1 style="margin-bottom:30px;">Department Overview</h1>


<table id="department_overview" class="display" data-source="<%= dashboard_overview_data_url(format: "json") %>">
  <thead>
      <tr>
        <th>Department</th>
        <th>Total Cost</th>
      </tr>
  </thead>
<tbody>
</tbody>
</table>




