<div class="row">
   <div class="col-xs-12" style="text-align: center;">
     <h1>Department Overview</h1>
     <hr/>
   </div>
 </div>


<table id="department_overview" data-source="<%= dashboard_overview_data_url(format: "json") %>">
  <thead>
      <tr>
        <th>Department</th>
        <th>Total $</th>
        <th>$/Employee</th>
        <th>% Above</th>
        <th>% Below</th>
        <th>Days Booked</th>
      </tr>
  </thead>
<tbody>
</tbody>
</table>




