<h1>Transactions</h1>

<table id="flight_reservations" class="display" data-source="<%= dashboard_transactions_url(format: "json") %>">
  <thead>
      <tr>
        <th>Departure Date</th>
        <th>Airline Name</th>
        <th>Total Amount</th>
        <th>Price</th>
      </tr>
  </thead>
<tbody>
</tbody>
</table>
