<h1 style="margin-bottom:1em;">Transactions</h1>

<table id="flight_reservations" class="display" data-source="<%= dashboard_transactions_data_url(format: "json") %>">
  <thead>
      <tr>
        <th style="width:8px;"></th>
        <th>ID</th>
        <th>Trip Date</th>
        <th>Days Prior</th>
        <th>Airline</th>
        <th>Booked By</th>
        <th>Estimate</th>
        <th>Actual</th>
        <th>Online</th>
        <th>Net Savings</th>
        <th>% Savings</th>
        <th>Ticket Number</th>
        <th>Miles</th>
        <th>Routing</th>
        <th>Dom/Intl</th>
        <th>Trip Departure Date</th>
      </tr>
  </thead>
<tbody>
</tbody>
</table>
