<h1>Transactions</h1>

<table id="flight_reservations" class="display">
  <thead>
      <tr>
        <th>Departure Date</th>
        <th>Airline Name</th>
        <th>Total Amount</th>
        <th>Price</th>
      </tr>
  </thead>
<tbody>
<% @flight_reservations.each do |flight| %>
  <tr>
    <td><%= flight.Trip_Departure_Date %></td>
    <td><%= flight.Airline_Name %></td>
    <td><%= flight.Total_Amount %></td>
    <td><%= flight.Fare_Category %></td>
  </tr>
<% end %>
</tbody>
</table>
