<h1>Transactions</h1>

<table id="flight_reservations" class="display" data-source="<%= dashboard_transactions_url(format: "json") %>">
  <thead>
      <tr>
        <th style="width:8px;"></th>
        <th>GDS #</th>
        <th>Days Prior</th>
        <th>Airline</th>
        <th>Booked By</th>
        <th>Historical Price</th>
        <th>Purchase Price</th>
        <th>Net Savings</th>
        <th>Percentage of savings</th>
      </tr>
  </thead>
<tbody>
</tbody>
</table>
