<div class="sectionBox trendOptions">
	<div class="franchise">
		<h4>Franchise<span class="glyphicon glyphicon-chevron-down"></span></h4>
	</div>
	<div class="pricePerMile">
		<h4>Price Per Mile<span class="glyphicon glyphicon-chevron-down"></span></h4>
	</div>
	<div class="hotspots">
		<h4>Hotspots<span class="glyphicon glyphicon-chevron-down"></span></h4>
	</div>
	<div class="days">
		<h4>Days Booked Prior<span class="glyphicon glyphicon-chevron-down"></span></h4>
	</div>
</div>
<div class="sectionBox trendCharts">
	<div class="chartContent">
		<div id="franchise" class="chart">
			<h1>Franchise</h1>
		</div>
		<div id="pricePerMile" class="chart">
			<h1>Price Per Mile</h1>
		</div>
		<div id="hotspots" class="chart">
			<h1>Hotspots</h1>
		</div>
		<div id="days" class="chart">
			<h1>Days Booked Prior to Travel</h1>
		</div>
	</div>
</div>