<div ng-app="google-chart-sample" ng-cloak="">
<div class="container">
    <div class="row">
        <div class="col-xs-12" style="text-align: center;">
            <h1>AngularJs Google Chart Tools directive</h1>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div ng-view></div>
    </div>

</div>

</div>
