<div class="sectionBox trendOptions">
	<div class="franchise">
		<h4>Franchise<span class="glyphicon glyphicon-chevron-down"></span></h4>
	</div>
	<div class="pricePerMile">
		<h4>Price Per Mile<span class="glyphicon glyphicon-chevron-down"></span></h4>
	</div>
	<div class="hotspots">
		<h4>Hotspots<span class="glyphicon glyphicon-chevron-down"></span></h4>
	</div>
	<div class="days">
		<h4>Days Booked Prior<span class="glyphicon glyphicon-chevron-down"></span></h4>
	</div>
</div>
<div class="sectionBox trendCharts">
	<div class="chartContent">
	</div>
</div>