<div class="sectionBox trendOptions">
	<div class="franchise">
		<h4>Vendor<span class="glyphicon glyphicon-chevron-down"></span></h4>
	</div>
	<div class="pricePerMile">
		<h4>Price Breakdown<span class="glyphicon glyphicon-chevron-down"></span></h4>
	</div>
	<div class="hotspots">
		<h4>Hotspots<span class="glyphicon glyphicon-chevron-down"></span></h4>
	</div>
	<div class="days">
		<h4>Booking in Advance<span class="glyphicon glyphicon-chevron-down"></span></h4>
	</div>
</div>
<div class="sectionBox trendCharts">
	<div class="chartContent">
		<div id="franchise" class="chart">
			<h1>Vendor</h1>


<div id='chart'></div>
<%= render_chart(@vendor_flight_pie, 'chart') %>

<div id='scatterchart'></div>
<%= render_chart(@vendor_flight_scatter_chart, 'scatterchart') %>


<div id='barchart'></div>
<%= render_chart(@vendor_flight_barchart, 'barchart') %>

    <!-- @vendor_hotel_pie
    @vendor_car_rental_pie -->

		</div>
		<div id="pricePerMile" class="chart">
			<h1>Price Breakdown</h1>

		</div>
		<div id="hotspots" class="chart">
			<h1>Hotspots</h1>
		</div>
		<div id="days" class="chart">
			<h1>Booking in Advance to Travel</h1>
		</div>
	</div>
</div>
