<div class="col-xs-5">

        <%= render 'dashboard/trends_nav' %>


</div>

<div class="col-xs-7">
    <div google-chart chart="chart" style="{{cssStyle}}" on-ready="chartReady()"></div>
    <!-- explicit close of tag seems to be necessary -->
</div>


