<div class="col-xs-5">
    <form class="form-horizontal" role="form">

        <div class="form-group">
            <label for="chartType">Chart type</label>

            <select class="form-control" id="chartType" ng-model="chart.type" ng-change="chartSelectionChange()">
                <option value="AreaChart">AreaChart</option>
                <option value="PieChart">PieChart</option>
                <option value="ColumnChart">ColumnChart</option>
                <option value="LineChart">LineChart</option>
                <option value="Table">Table</option>
                <option value="BarChart">BarChart</option>
            </select>

        </div>
    </form>
</div>

<div class="col-xs-7">
    <div google-chart chart="chart" style="{{cssStyle}}" on-ready="chartReady()"></div>
    <!-- explicit close of tag seems to be necessary -->
</div>


