<div class="col-xs-5">

        <%= render 'dashboard/trends_nav' %>


</div>

<div class="col-xs-7">

<!-- <div><button>Chart 1</button><button>Chart 2</button></div>
 -->
{{report_type}} {{chart_number}}

    <div ng-show="report_type=='vendor' && chart_number==1">Vendor Chart one</div>

    <div ng-show="report_type=='vendor' && chart_number==2">Vendor Chart two</div>

    <div ng-show="report_type=='price_breakdown' && chart_number==1" >Price Breakown Chart one</div>

    <div ng-show="report_type=='price_breakdown' && chart_number==2">Price Breakown Chart two</div>

</div>


