<h1>Importer Console</h1>

<p>There are <%= @flight_reservations %> reservations</p>

<%= link_to "Run Importer", import_run_path %>
<br>
<br>

<%= link_to "Delete All Data", import_delete_all_path %>
