// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dataTables_wrapper{
    padding: 15px;
}
#hotel_reservations_wrapper{
    display:none;
}
#car_rental_reservations_wrapper{
    display:none;
}
#tablesWrapper tbody .outlierSaver td, #tablesWrapper tbody .outlierSaver{
    background-color:rgba(75,169,10,0.1);
}

#tablesWrapper tbody .outlierSpender, #tablesWrapper tbody .outlierSpender td{
    background-color:rgba(255,0,0,0.1);
}
#tablesWrapper tbody .nonOutlier, #tablesWrapper tbody .nonOutlier td{
    background-color:rgba(0,0,0,0.1);
}

#tablesWrapper tr{
    cursor:pointer;
}

#tablesWrapper tbody tr.even:hover, #tablesWrapper tbody tr.even td.highlighted {
    background-color: #ECFFB3;
}

#tablesWrapper tbody tr.odd:hover, #tablesWrapper tbody tr.odd td.highlighted {
    background-color: #E6FF99;
}

#tablesWrapper tr.even:hover {
    background-color: #ECFFB3;
}

#tablesWrapper tr.even:hover td.sorting_1 {
    background-color: #DDFF75;
}

#tablesWrapper tr.even:hover td.sorting_2 {
    background-color: #E7FF9E;
}

#tablesWrapper tr.even:hover td.sorting_3 {
    background-color: #E2FF89;
}

#tablesWrapper tr.odd:hover {
    background-color: #E6FF99;
}

#tablesWrapper tr.odd:hover td.sorting_1 {
    background-color: #D6FF5C;
}

#tablesWrapper tr.odd:hover td.sorting_2 {
    background-color: #E0FF84;
}

#tablesWrapper tr.odd:hover td.sorting_3 {
    background-color: #DBFF70;
}
#department_overview{
    border-spacing: 0 2em;
    border-collapse: separate;
}
table.dataTable#department_overview tr.odd{
    background-color: transparent;
}
table.dataTable#department_overview tr.even td.sorting_1,
table.dataTable#department_overview tr.odd td.sorting_1{
    background-color: transparent;
}
table.dataTable#department_overview td{
    padding: 23px 4px;
    font-size: 1.5em;
}
table.dataTable#department_overview thead th{
    padding: 5px 10px 5px 0;
}
table.dataTable#department_overview tbody tr td:first-child{
    padding-left: 20px;
    border-left: 5px solid blue;
    font-family: BebasNeue;
    font-size: 3em;
}
table.dataTable#department_overview tbody tr:hover{
    background: #ededed;
    cursor: pointer;
}
.sorting_asc{
    background: url('/assets/dataTables/sort_asc.png') no-repeat center;
}
.sorting{
    background: url('/assets/dataTables/sort_both.png') no-repeat center;
}
