// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dataTables_wrapper{
    padding: 15px;
}

#flight_reservations tbody .outlierSaver td, #flight_reservations tbody .outlierSaver{
    background-color:rgba(75,169,10,0.1);
}

#flight_reservations tbody .outlierSpender, #flight_reservations tbody .outlierSpender td{
    background-color:rgba(255,0,0,0.1);
}
#flight_reservations tbody .nonOutlier, #flight_reservations tbody .nonOutlier td{
    padding: 20px 5px;
}

#flight_reservations tr{
    cursor:pointer;
    border: none;
}
#flight_reservations:first-child span{
    display: none;
}

#flight_reservations tbody tr.even:hover, #flight_reservations tbody tr.even td.highlighted,
#flight_reservations tbody tr.odd:hover, #flight_reservations tbody tr.odd td.highlighted,
table.dataTable#flight_reservations tr.odd:hover,
table.dataTable#flight_reservations tr.even:hover,
table.dataTable#flight_reservations tr.odd:hover .sorting_1,
table.dataTable#flight_reservations tr.even:hover .sorting_1{
    background-color: #CED5E8;
    cursor: pointer;
}
table.dataTable#flight_reservations thead th{
    padding: 3px 0px 6px 10px;
}
.ui-state-default .ui-icon{

}
td.undefined td{
    padding: 5px;
}
table.display td.undefined{
    background: #ededed;
    padding: 23px 10px;
}
table.display td.undefined{
    display: table-cell;
}
table.dataTable#flight_reservations th:first-child,
table.dataTable#flight_reservations td:first-child img,
table.dataTable#flight_reservations td:first-child img{
    visibility:hidden;
}

/* OVERVIEW TABLE CSS */

#department_overview{
    border-spacing: 0 2em;
    border-collapse: separate;
}
table.dataTable#department_overview tr.odd,
table.dataTable#flight_reservations tr.odd{
    background-color: #fff;
}
table.dataTable#department_overview tr.even td.sorting_1,
table.dataTable#department_overview tr.odd td.sorting_1{
    background-color: transparent;
}
table.dataTable#department_overview td{
    padding: 23px 4px;
    font-size: 1.5em;
}
table.dataTable#department_overview thead th{
    padding: 5px 10px 5px 0;
}
table.dataTable#department_overview tbody tr td:first-child{
    padding-left: 20px;
    border-left: 5px solid blue;
    font-family: BebasNeue;
    font-size: 3em;
}
table.dataTable#department_overview tbody tr:hover{
    background: #ededed;
    cursor: pointer;
}
.sorting_asc{
    background: url('/assets/dataTables/sort_asc.png') no-repeat center;
}
.sorting{
    background: url('/assets/dataTables/sort_both.png') no-repeat center;
}
table.dataTable tr.odd td.sorting_1,
table.dataTable tr.even td.sorting_1{
    background-color: #fff;
 }
.table.display thead th{
    background: transparent;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    border: none;
    background: none;
}
