// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dataTables_wrapper{
    padding: 15px;
}

#tablesWrapper tbody .outlierSaver td, #tablesWrapper tbody .outlierSaver{
    background-color:rgba(75,169,10,0.1);
}

#tablesWrapper tbody .outlierSpender, #tablesWrapper tbody .outlierSpender td{
    background-color:rgba(255,0,0,0.1);
}
#tablesWrapper tbody .nonOutlier, #tablesWrapper tbody .nonOutlier td{
    padding: 20px 5px;
}

#tablesWrapper tr{
    cursor:pointer;
    border: none;
}
#tablesWrapper:first-child span{
    display: none;
}

#tablesWrapper tbody tr.even:hover, #tablesWrapper table.dataTable tbody tr.even.active .sorting_1, #tablesWrapper table.dataTable tbody tr.odd.active .sorting_1, #tablesWrapper table.dataTable tbody tr.even.active, #tablesWrapper table.dataTable tbody tr.odd.active, #tablesWrapper tbody tr.even td.highlighted,
#tablesWrapper tbody tr.odd:hover, #tablesWrapper tbody tr.odd td.highlighted,
#tablesWrapper table.dataTable tr.odd:hover,
#tablesWrapper table.dataTable tr.even:hover,
#tablesWrapper table.dataTable tr.odd:hover .sorting_1,
#tablesWrapper table.dataTable tr.even:hover .sorting_1{
    background-color: #CED5E8;
    cursor: pointer;
}
#tablesWrapper table.dataTable thead th{
    padding: 3px 0px 6px 10px;
}
.ui-state-default .ui-icon{

}
td.undefined td{
    padding: 5px;
}
table.display td.undefined{
    background: #ededed;
    padding: 23px 10px;
}
table.display td.undefined{
    display: table-cell;
}
#tablesWrapper table.dataTable th:first-child,
#tablesWrapper table.dataTable td:first-child img,
#tablesWrapper table.dataTable td:first-child img{
    visibility:hidden;
}

/* OVERVIEW TABLE CSS */

#department_overview{
    border-spacing: 0 2em;
    border-collapse: separate;
}
table.dataTable#department_overview tr.odd,
#tablesWrapper table.dataTable tr.odd{
    background-color: #fff;
}
table.dataTable#department_overview tr.even td.sorting_1,
table.dataTable#department_overview tr.odd td.sorting_1{
    background-color: transparent;
}
table.dataTable#department_overview td{
    padding: 23px 4px;
    font-size: 1.5em;
}
table.dataTable#department_overview thead th{
    padding: 5px 10px 5px 0;
}
table.dataTable#department_overview tbody tr td:first-child{
    padding-left: 20px;
    border-left: 5px solid blue;
    font-family: BebasNeue;
    font-size: 3em;
}
table.dataTable#department_overview tbody tr:hover{
    background: #ededed;
    cursor: pointer;
}
.sorting_asc{
    background: url('/assets/dataTables/sort_asc.png') no-repeat center;
}
.sorting{
    background: url('/assets/dataTables/sort_both.png') no-repeat center;
}
table.dataTable tr.odd td.sorting_1,
table.dataTable tr.even td.sorting_1{
    background-color: #fff;
 }
.table.display thead th{
    background: transparent;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    border: none;
    background: none;
}

#hotel_reservations_wrapper{
    display:none;
}
#car_rental_reservations_wrapper{
    display:none;
}
.trendOptions{
    display: inline;
    float: left;
}
.trendOptions span{
float: right;
margin-left: 15px;
}
.trendOptions div{
    padding: 0px 6px;
}
.trendOptions h4{
    background: #CED5E8;
    display: inline-block;
    padding: 4px 24px 4px 10px;
    margin: 2px 0;
    width: 100%
}
.sectionBox{
    box-shadow: -4px 7px 17px 0px #aaaaaa;
    float: left;
    display: inline;
    padding: 10px 5px;
}
.trendCharts{
    margin-left: 20px;
    width: 620px;
}
.chart{
    display:none;
    padding: 20px;
}
