<p style="background-color:#ccc; padding:20px; margin-bottom:20px;">
    <label>Department:</label>
    <select>
        <option>All</option>
        <option>Agriculture</option>
        <option>General Services Administration</option>
        <option>Internal Revenue Service</option>
    </select>


    <label style="margin-left:10px;">Transaction type:</label>
    <select>
        <option>Airline</option>
        <option>Hotel</option>
        <option>Car Rental</option>
    </select>



